<div class="app-page-title">
    <div class="page-title-wrapper">
        Dashboard
    </div>
</div>

<div class="row">
    <a routerLink="/exams" class="col-md-6 col-xl-4" >
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Pending Exams</div>
                    <div class="widget-subheading">Click to view</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>2</span></div>
                </div>
            </div>
        </div>
    </a>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Clients</div>
                    <div class="widget-subheading">Total Clients Profit</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>$ 568</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Followers</div>
                    <div class="widget-subheading">People Interested</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>46%</span></div>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/time-table" class="d-xl-none d-lg-block col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">View Your Time Table</div>
                    <div class="widget-subheading">Click to view</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-warning"><span></span></div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-header">My Teachers</div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="widget-content-left">
                                            <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">John Doe</div>
                                        <div class="widget-subheading opacity-7">Maths</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Email</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-header">Upcoming Events</div>
            <!-- <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="widget-content-left">
                                            <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">PTA</div>
                                        <div class="widget-subheading opacity-7">Online</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>12-12-2020</td>
                        <td class="text-center">
                            <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="d-block text-center card-footer"><b>NO UPCOMING EVENTS</b></div>
        </div>
    </div>
</div>
